<% @reflections.load %>


<div class="container" data-controller="show-item" data-show-item-url-value="/reflections/">
  <div class="row justify-content-between mt-2">
    <div class="col-3">
      <h1>Your Mosaic</h1>
    </div>
    <div class="col-4" data-controller="date-select">
      <%= form_with url: mosaic_date_range_select_path, method: :get, class: "mb-3" do |f| %>
        <div class="row">
          <div class="col">
            <%= f.label :from_date, "From" %>
            <br>
            <%= f.date_field :from_date, value: @date_range.first, data: { action: "change->date-select#change" }, class: "form-control" %>
          </div>
          <div class="col">
            <%= f.label :start_date, "To" %>
            <br>
            <input type="date" value="<%= @date_range.last %>" class="form-control" >
          </div>
        </div>
      <% end %>        
    </div>
  </div>
  <div class="row mt-2">
    <main class="col-sm-12 col-lg-8">
      <div class="row row-cols-1 row-cols-sm-5 gx-3 gy-3" id="mosaic">
        <% (@date_range).each do |date| %>
          <%= render(Mosaic::TileComponent.new(reflection: Reflection.select_from_collection(date, @reflections), date: date, classes: Reflection.display_classes_for(date, @reflections))) %>
        <% end %>
      </div>
    </main>
    <aside class="col-md-4">
      <div class="row row-cols-1">
        <div class="col" id="stats">
          <div class="card shadow-sm">
            <div class="card-body">
              <h5 class="card-title">Stats</h5>
              <p class="card-text">
                <% if @date_range.count > 31 %>
                  <turbo-frame id="mosaic_statistics" src="mosaic/statistics?start_date=<%= @date_range.first %>&end_date=<%= @date_range.last %>" >
                  </turbo-frame>
                <% else %>
                  <turbo-frame id="mosaic_statistics" src="mosaic/statistics?date=<%= @date %>" ></turbo-frame>
                <% end %>              
              </p>
            </div>
          </div>
        </div>
        <div class="col mt-3" id="show-block">
          <% if @reflections.any? %>
            <turbo-frame id="reflection_show" src="reflections/<%= Reflection.get_id_on(@current_user.account, @reflections.last.completed) %>" data-show-item-target="frame" target="_top"></turbo-frame> 
          <% end %>
        </div>
        <div class="col mt-3 d-grid" id="log-cta">
          <% if !Reflection.present_on?(current_user.account, Time.zone.today) %>
            <%= link_to "Log Today's Reflection", new_reflection_path(date: Time.zone.today), class: "btn btn-primary btn-wide" %>
          <% else %>
            <div class="alert alert-success">
              Thanks for Logging Today!
            </div>
          <% end %>
        </div>
      </div>
    </aside>
  </div>
</div>


