<h1>Reflections#index</h1>
<% @reflections.load %>
<p>
  Days Logged: <%= @reflections.size %> (<%= number_to_percentage((@reflections.size.to_f / Time.days_in_month(@date.month, @date) * 100), precision: 0) %>)
</p>
<div class="mood-container">
  <% (@date.beginning_of_month..@date.end_of_month).each do |date| %>
    <%= content_tag :div, class: Reflection.display_classes_for(date, @reflections) do %>
      <%= content_tag :span do %>
        <%= date.day %> <br> <%= Reflection.label_for(date, @reflections) %>
      <% end %>
    <% end %>
  <% end %>
</div>